<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> LMT </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LMT</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="redirectToListData(true)">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-item style="display: flex" *ngFor="let task of taskListRecord" (click)="redirectToListData(false,task)">
    <ion-label>{{task.name}}</ion-label>

    <!-- Show the timer if the task is in progress -->
    <ion-label *ngIf="task.timer!=0">{{task.timer}}</ion-label>

    <ion-button
      fill="clear"
      *ngIf="task.isShowIcon"
      color="danger"
      (click)="onStart($event,task)"
    >
      <ion-icon name="play"></ion-icon>
    </ion-button>
    <ion-button
      fill="clear"
      *ngIf="!task.isShowIcon"
      color="success"
      (click)="onComplete($event,task)"
    >
      <ion-icon name="checkmark-circle" class="green-tick"></ion-icon>
    </ion-button>

    <ion-button
      fill="clear"
      *ngIf="!task.isShowIcon"
      color="danger"
      (click)="onPause($event,task)"
    >
      <ion-icon name="pause"></ion-icon>
    </ion-button>

    <ion-button
      fill="clear"
      *ngIf="task.isShowIcon"
      color="danger"
      (click)="onResume($event,task)"
    >
      <ion-icon name="refresh"></ion-icon>
    </ion-button>

    <!-- <ion-label>{{task.name}}</ion-label> -->
  </ion-item>
</ion-content>
